/////////////////
#include "windows.h"
#include "baulkversion.h"
#include "resource.h"

ICON_MAIN ICON "ssh-askpass-baulk.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION BAULK_VERSION_MAJOR, BAULK_VERSION_MINOR, BAULK_VERSION_PATCH, BAULK_VERSION_BUILD
PRODUCTVERSION BAULK_VERSION_MAJOR, BAULK_VERSION_MINOR, BAULK_VERSION_PATCH, BAULK_VERSION_BUILD
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "000904b0"
BEGIN
VALUE "CompanyName", L"Baulk contributors"
VALUE "FileDescription", L"Askpass Utility for Baulk"
VALUE "FileVersion", BAULK_VERSION
VALUE "InternalName", L"ssh-askpass-baulk.exe"
VALUE "LegalCopyright", BAULKUI_COPYRIGHT
VALUE "OriginalFilename", L"ssh-askpass-baulk.exe"
VALUE "ProductName", L"Askpass Utility for Baulk"
VALUE "ProductVersion", BAULK_VERSION
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x9, 1200
END
END

// Dialog template

IDD_ASKPASS_WINDOW DIALOGEX 0, 0, 500, 250
STYLE DS_SETFONT | DS_CENTER | WS_MINIMIZEBOX | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_ACCEPTFILES
CAPTION "User Input Require"
FONT 10, "Segoe UI", 400, 0, 0x0
BEGIN
    LTEXT           "",IDS_PROMPT_CONTENT,15,10,220,13
    EDITTEXT      IDE_ASKPASS_INPUT ,15,20,220,12,ES_LEFT
    PUSHBUTTON "Cancel",IDB_ASKPASS_CANCEL,100,40,30,12
    PUSHBUTTON "OK",IDB_ASKPASS_OK,200,40,30,12
END
