// Baulk resources
#include "windows.h"
#include "baulkversion.h"

ICON_MAIN ICON "baulk.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION BAULK_VERSION_MAJOR, BAULK_VERSION_MINOR, BAULK_VERSION_PATCH, BAULK_VERSION_BUILD
PRODUCTVERSION BAULK_VERSION_MAJOR, BAULK_VERSION_MINOR, BAULK_VERSION_PATCH, BAULK_VERSION_BUILD
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "000904b0"
BEGIN
VALUE "CompanyName", L"Force Charlie"
VALUE "FileDescription", L"baulk - Minimal Package Manager for Windows"
VALUE "FileVersion", BAULK_VERSION
VALUE "InternalName", L"baulk.exe"
VALUE "LegalCopyright", BAULKUI_COPYRIGHT
VALUE "OriginalFilename", L"baulk.exe"
VALUE "ProductName", L"baulk - Minimal Package Manager for Windows"
VALUE "ProductVersion", BAULK_VERSION
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x9, 1200
END
END

