//Microsoft Visual C++ generated resource script.
//
#include "windows.h"
#include "revision.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION BAULK_VERSION_MAJOR, BAULK_VERSION_MINOR, BAULK_VERSION_PATCH, BAULK_VERSION_BUILD
PRODUCTVERSION BAULK_VERSION_MAJOR, BAULK_VERSION_MINOR, BAULK_VERSION_PATCH, BAULK_VERSION_BUILD
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "000904b0"
BEGIN
VALUE "CompanyName", L"Baulk contributors"
VALUE "FileDescription", L"baulk-migrate - Baulk easy migration tool"
VALUE "FileVersion", BAULK_VERSION
VALUE "InternalName", L"baulk-migrate.exe"
VALUE "LegalCopyright", BAULK_COPYRIGHT
VALUE "OriginalFilename", L"baulk-migrate.exe"
VALUE "ProductName", L"baulk-migrate - Baulk easy migration tool"
VALUE "ProductVersion", BAULK_VERSION
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x9, 1200
END
END
